<nav xmlns:th="http://www.thymeleaf.org" th:fragment="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" th:href="@{/employess}">Employee Management</a>
        <div class="navbar nav">
            <a class="nav-link" th:href="@{/employees}">Employees</a>
            <a class="nav-link" th:href="@{/departments}">Departments</a>
        </div>
        <div class="navbar-nav ms-auto">
            <span class="navbar-text me-3" sec:authorize="isAuthenticated()" th:text="${#authentication.name}"
                  xmlns:sec="http://www.thymeleaf.org"></span>
            <form th:action="@{/logout}" method="post">
                <button type="submit" class="btn btn-outline-light btn-sm">Logout</button>
            </form>
        </div>
    </div>
</nav>